/* micro clearfix (using technique from http://nicolasgallagher.com/micro-clearfix-hack) */

//For IE7 and below
div,main,article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,pre,blockquote small,address,button {
	*zoom:1;
}

figcaption,div:after,main:after,article:after,aside:after,details:after,figcaption:after,figure:after,footer:after,header:after,
hgroup:after,nav:after,section:after,pre:after,.nav:after,.nav a:after,.width-fill:after,.width-fit img:after,
blockquote small:after,address:after,.nav ul:after,.nav li:after {
    clear:both;
}

div:before,div:after,main:before,main:after,article:before,article:after,aside:before,aside:after,details:before,details:after,
figcaption:before,figcaption:after,figure:before,figure:after,footer:before,footer:after,
header:before,header:after,hgroup:before,hgroup:after,nav:before,nav:after,section:before,section:after,
pre:before,pre:after,.nav:before,.nav:after,.nav a:before,.nav a:after,.width-fill:before,.width-fill:after,
.width-fit img:before,.width-fit img:after,blockquote small:before,blockquote small:after,address:before,address:after,
.nav ul:before,.nav ul:after,.nav li:before,.nav li:after {
    content:" "; display:table;
}
